@import "ember-foundation";

.main-navigation {
  background-color: #2D2D2D;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  .navbar--left {
    flex: 8;
  }

  .navbar--right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
  }

  a {
    color: white;
    font-size: 1rem;
  }

  ul {
    margin: 0;
    font-size: 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;

    li {
      list-style: none;
      padding: 0 15px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &.divider {
        padding: 0;
        border-right: solid 1px #4e4e4e;
        border-bottom: none;
        border-top: none;
        clear: none;
        height: 2.8125rem;
        width: 0
      }

      &:hover {
        border-bottom: 4px solid #0089FF;
        margin-bottom: -4px;
      }
    }

    h1 {
      line-height: 1rem;
    }

  }
}

.active {
  border-bottom: 4px solid #0089FF;
  margin-bottom: -4px;
}

.profile-image {
  width: 32px;
  height: auto;
  margin-right: 6px;
  border: 1px solid #ddd;
}

.new-wishlist {
  width: 50%;
  margin: 0 auto;
}

.wishlist-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: space-around;
  align-items: stretch;
  padding: 10px;
}

.your-wishlist-title {
  padding: 20px 20px 0px 20px;
}

.wishlist-show--title {
  font-size: 1.8rem;
}

.wishlist-card {
  border: 1px solid #ddd;
  flex: 1;
  margin: 10px;
  border-radius: 6px;
  min-width: 30%;
  max-width: 50%;
}

.wishlist-card--content {
  padding: 10px;
  white-space: normal;
}

.wishlist-card--title {
  background-color: #ddd;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 0;
  padding: 4px 5px;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .wishlist-card {
    min-width: 42%;
  }
  .new-wishlist {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .wishlist-card {
    min-width: 100%;
  }
}
